<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border="1">
	<tr>
		<td>${now}</td>
		<td th:text="${now}"></td>
	</tr>
	<tr>
		<td>${#dates.format(now, 'yyyy-MM-dd')}</td>
		<td th:text="${#dates.format(now, 'yyyy-MM-dd')}"></td>
	</tr>
	<tr>
		<td>${#dates.format(now, 'yyyy-MM-dd HH:mm:ss')}</td>	
		<td th:text="${#dates.format(now, 'yyyy-MM-dd HH:mm:ss')}"></td>
	</tr>
	<tr>
		<td>${#dates.format(now, 'a h:mm')}</td>
		<td th:text="${#dates.format(now, 'a h:mm')}"></td>
	</tr>
	<tr>
		<td>${#dates.format(now, 'z a h:mm')}</td>	
		<td th:text="${#dates.format(now, 'z a h:mm')}"></td>
	</tr>
	<tr>
		<td>timeValue=${#dates.createToday()}</td>	
		<td>
			<div th:with="timeValue=${#dates.createToday()}">
				<p>[[${timeValue}]]</p>
			</div>
		</td>
	</tr>
</table>
</body>
</html>
